## Central Tendency

In [1]:

from collections import Counter
lt=[1,233,453,534,6,1,3,6,2,1,78,2,4,5,6,4,3,6]
n=len(lt)
s=sum(lt)
m=s/n
print("Mean or average of these numbers are (",*lt,') is ',m)

Mean or average of these numbers are ( 1 233 453 534 6 1 3 6 2 1 78 2 4 5 6 4 3 6 ) is  74.88888888888889

In [2]:

n=len(lt)
lt.sort()
if(n%2==0):
    md=(lt[n//2]+lt[n//2-1])/2
else:
    md=lt[n//2]
print("Medain :- ",md)

Medain :-  4.5

In [3]:

n=len(lt)
val=Counter(lt)
d=dict(val)
mo=[k for k,v in d.items() if v == max(list(val.values()))]
if(len(mo)==n):
    fm="No Mode"
else:

    fm="Mode :-"+' '.join(map(str,mo))
print(fm)

Mode :-6

In [8]:

dt=sorted(list(map(int,input("Input numbers with space > ").split())))
n=len(dt)
i=n//2

if(n%2==0):
    md=(dt[i-1]+dt[i])/2
    q3i=0
else:
    md=dt[i]
    q3i=0

nquartile=n//2
i=nquartile//2

if(nquartile%2==0):
    q1=(dt[i-1]+dt[i])/2
    q3=(dt[q3i+nquartile+i-1]+dt[q3i+nquartile+i])/2
else:
    q1=dt[i]
    q3=dt[q3i+nquartile+i]
    
print(dt)
print("Q1 =",q1)
print("Q2 =",md, "(median)")
print("Q3 =", q3)
print("Interquartile =",q3-q1)

Input numbers with space > 10 11 12 13 14 15
[10, 11, 12, 13, 14, 15]
Q1 = 11
Q2 = 12.5 (median)
Q3 = 14
Interquartile = 3

In [9]:


from math import sqrt
n=[2,44,66,11,8,978,23,11,6]
mean=sum(n)/len(n)
s=0
for i in n:
    s+=(i-mean)**2
std=sqrt(s/len(n)-1)
print(std)

301.2848412309447

In [5]:

def variance(x):
    m=sum(x)/len(x)
    t=0
    for i in x:
        t=t+((i-m)**2)
    return t/len(x)


x=[1,2,3,4,5,6,7,8,9]
print("variance is:",variance(x))

y=[1,2,3,-4,5,6,7,8,9]
print("variance is:",variance(y))

z=[10,-20,30,-40,50,-60,70,-80]
print("variance is:",variance(z))

variance is: 6.666666666666667
variance is: 14.765432098765432
variance is: 2525.0

In [14]:
import pandas as pd


d={'Name' : pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','Chanchal','Gasper','Naviya','Andres']),
   'Age' : pd.Series([25,26,25,26,30,29,23,34,40,30,51,46]),
  'Rating' : pd.Series([4.23,4,23,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}


df = pd.DataFrame(d)
df

        Name   Age  Rating
0        Tom  25.0    4.23
1      James  26.0    4.00
2      Ricky  25.0   23.00
3        Vin  26.0    3.98
4      Steve  30.0    2.56
5      Smith  29.0    3.20
6       Jack  23.0    4.60
7        Lee  34.0    3.80
8   Chanchal  40.0    3.78
9     Gasper  30.0    2.98
10    Naviya  51.0    4.80
11    Andres  46.0    4.10
12       NaN   NaN    3.65

In [16]:
df.mean()

TypeError: can only concatenate str (not "int") to str

In [17]:
df['Rating'].mean()

5.283076923076923

In [18]:
df.median()

TypeError: could not convert string to float: 'Tom'

In [24]:
df['Rating'].median()

3.98

In [25]:
df.mode()

        Name   Age  Rating
0     Andres  25.0    2.56
1   Chanchal  26.0    2.98
2     Gasper  30.0    3.20
3       Jack   NaN    3.65
4      James   NaN    3.78
5        Lee   NaN    3.80
6     Naviya   NaN    3.98
7      Ricky   NaN    4.00
8      Smith   NaN    4.10
9      Steve   NaN    4.23
10       Tom   NaN    4.60
11       Vin   NaN    4.80
12       NaN   NaN   23.00

In [1]:
df.std()

NameError: name 'df' is not defined

In [4]:
df.var()

NameError: name 'df' is not defined

In [3]:

import numpy as np

dt=[32,36,46,56,69,75,79,88,89,91,92,93,96,97,101,105,112,116]


Q1=np.median(dt[:10])


Q3=np.median(dt[10:])


IQR=Q3-Q1

print(IQR)

27.0

In [2]:


dt=[32,36,46,47,56,69,75,79,88,89,91,92,93,96,97,101,105,112,116]


Q1 = np.percentile(dt,25,interpolation='midpoint')

q3 = np.percentile(dt,75,interpolation='midpoint')


IQR = Q3 - Q1

print(IQR)

NameError: name 'np' is not defined